<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>DEV Community</title>
  </head>
  <body>
    <div class="body__default">
      <header class="container">
        <div class="header__left">
          <div class="header__logo">
            <h2>DEV</h2>
          </div>
          <div class="header__search">
            <span class="header__search__icon">
              <input type="search" placeholder="search..." />
              <img src="/assets/icons/Search.png" alt="search_icon" />
            </span>
          </div>
        </div>
        <div class="header__right">
          <button>Create Post</button>
          <img src="/assets/icons/Notification.png" alt="notification" />
          <img
            class="header__profile__pic"
            src="/{{ profilePicture }}"
            alt="profile_pic"
          />
        </div>
      </header>
    </div>

    <section class="content container">
      <div class="content__nav">
        <ul>
          <li class="content__nav__item">
            <img src="/assets/icons/Home.png" /><h3>Home</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Booking list.png" /><h3>Reading List</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Listing.png" /><h3>Listing</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Podcast.png" /><h3>Poadcast</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Video.png" /><h3>Videos</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Faq.png" /><h3>FAQ</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Dev shop.png" /><h3>Dev Shop</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Sponsors.png" /><h3>Sponsors</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/About.png" /><h3>About</h3>
          </li>
          <li class="content__nav__item">
            <img src="/assets/icons/Contact.png" /><h3>Contact</h3>
          </li>
        </ul>
      </div>

        <div class="content__post">
            <div class="content__post__header">
                <h1>New Posts</h1>
            </div>
            {{!-- BLOG POST --}}
            {{#each posts}}
            <a href="article/{{this._id}}">
              <div class="blog__post">
                  <div class="blog__post__profile">
                      <img src="/{{ this.userDetails.profilePicture }}" class="blog__post__profile__picture" />
                      <div class="blog__post__profile__name__and__time__posted">
                          <h2>{{ this.userDetails.name }}</h2>
                          <p>{{ dateFormat this.dateCreated }}</p>
                      </div>
                  </div>
                  <div class="blog__post__title">
                      <h1>{{this.title}}</h1>
                      <h2>{{trimList this.trends}} </h2>
                  </div>
                  <div class="blog__post__reactions">
                      <div class="blog__post__likes__comments">
                          <span class="blog__post__likes">
                              <img src="/assets/icons/Heart.png" alt="heart" />
                              <p>{{this.likes.length}} Reactions</p>
                          </span>
                          <span class="blog__post__likes">
                              <img src="/assets/icons/comment.png" alt="comment" />   
                              <p>{{this.comments.length}} comments</p>
                          </span>
                      </div>
                      <div class="blog__post__read__and__save">
                          <p>3 min read</p>
                          <button>Save</button>
                      </div>
                  </div>
              </div>
            </a>
            {{/each}}
            {{!-- END BLOG POST --}}
        </div>
      <div class="content__ads">
            <div class="content__post__header">
                <h1>Ads Here</h1>
            </div>
            <div class="content__ads__post">
                <img src="/assets/Imgs/Team Work.svg" alt="team_work" />
                <div class="content__ads__details">
                    <h1>Mongo-DB challenge 2022</h1>
                    <p>Join the challenge with other amazing developers like you in building the next generation software with mongoDB</p>
                    <button>Check it out</button>
                </div>
            </div>
      </div>
    </section>
  </body>
</html>